# 캐쉬
*__pycache__*
.pytest_cache

# claude code
.agents/
.claude/

#
build/
dist/
*.egg-info/
promptfoo_examples/
promptfooconfig_docs/
.env
judge_prompt_generation/

# 개발용 가이드
guides/
guides_plan/

# 가상환경 관련
.venv
uv.lock

# 테스트용 폴더 & 파일
.pvm
.pvm_copy
export_snapshots/
tests/
data/
prompts/